<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="home.css">
  <title>Larm - A blog by Martin Svarrer</title>
</head>

<body>
  <header class="banner">
    <nav>
      <a href="/larm"><span class="logo">larm <sup class="phonetic">[lɑːˀm]</sup></span></a>
    </nav>
  </header>


  <main>
    <aside>
      <img src="profile_bw.png" alt="Profile picture of Martin Svarrer">
      <p>A Software Developers Blog<br>by Martin Svarrer.</p>
    </aside>

    {{articles}}
  </main>
</body>

</html>